Experiment 1: Introduction to Python
Name: Priyal Gupta
PRN:25070123087

In [2]:
# Experiment 1: Introduction to Python
x,y,z="Apple","Orange","Cherry"
print(x,y,z,sep="\n")

Apple
Orange
Cherry

In [3]:
x,y,z,w=2,2.5,"priyal",True
print(type(x),type(y),type(z),type(w),sep="\n")

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [13]:
a,b=10,5
print("Sum=",a+b,"\nSub=",a-b,"\nProd=",a*b,"\nDiv=",a/b,"\nexp=",a**b)

Sum= 15
Sub= 5
Prod= 50
Div= 2.0
exp= 100000

In [14]:
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
print("Sum=",a+b,"\nSub=",a-b,"\nProd=",a*b,"\nDiv=",a/b,"\nexp=",a**b)

Enter the value of a: 10
Enter the value of b: 5
Sum= 15
Sub= 5
Prod= 50
Div= 2.0
exp= 100000

In [29]:
import math
r=float(input("Enter the value of radius :"))
Area=math.pi*r**2
print(Area)

Enter the value of radius :2.1
13.854423602330987

In [36]:
import math
Value=math.log10(10)
print(Value)

1.0

In [41]:
import math
Value=math.sin(math.radians(30))
print("Result:",Value)

Result: 0.49999999999999994

In [59]:
a=int(input("Enter a :"))
b=int(input("Enter b :"))
if b<a:
  print("b is less than a")

else:
  print("b is greater than a")

Enter a :5
Enter b :7
b is greater than a